<% if shopping_cart.nil? || shopping_cart.products.nil? || shopping_cart.products.empty? %>

    <div class="row">
      <div class="col-md-12 buttons-container">
        <%= link_to t('shopping_cart_is_empty'), root_path %>
      </div>
    </div>

<% else %>

    <div class="row">
      <div class="col-md-12 buttons-container">
        <%= link_to t('payment'), new_payment_path, html_options = {class: 'button green right'} %>
        <%= link_to t('continue_shopping'), root_path, html_options = {class: 'button green right continue-shopping'} %>
      </div>
    </div>

    <!-- Product's content titles -->
    <div class="row">
      <div class="col-md-12">
        <div class="product-content-table-item">
          <div class="col-md-2 content-table-td title"><%= t('image')%></div>
          <div class="col-md-3 content-table-td title"><%= t('product')%></div>
          <div class="col-md-2 content-table-td title"><%= t('quantity')%></div>
          <div class="col-md-2 content-table-td title"><%= t('price')%></div>
          <div class="col-md-2 content-table-td title"><%= t('total')%></div>
          <div class="col-md-1 content-table-td title"></div>
        </div>
      </div>
    </div>
    <!-- Product's content titles end -->

    <!-- Products rows -->
    <% shopping_cart.products.each do |product, quantity| %>
        <div class="row">
          <div class="col-md-12">
            <div class="product-content-table-item">
              <div class='col-md-2 content-table-td image' style="background-image: url('<%= product.image.url(:thumb) %>');">
              </div>
              <div class="col-md-3 content-table-td">
                <%= link_to product.name, product %>
              </div>
              <div class="col-md-2 content-table-td">
                <%= number_field_tag 'quantity', quantity, {:min => 1, :step => 1, :class => 'quantity-js', :product_id => product.id} %>
              </div>
              <div class="col-md-2 content-table-td">
                <%= format('£ %.2f', product.discount.nil? ? product.price : product.discount.price) %>
              </div>
              <div class="col-md-2 content-table-td">
                <%= format('£ %.2f', product.discount.nil? ? product.price * quantity : product.discount.price * quantity) %>
              </div>
              <div class="col-md-1 content-table-td">
                <%= link_to '', url_for(controller: :shopping_carts, action: :remove_product, id: product.id), method: :delete, remote: true, data: {confirm: t('confirm_remove_product', product_name: product.name)}, :class => 'remove-product' %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
    <!-- Products rows end -->

    <div class="row">
      <div class="col-md-12">
        <div class="cart-total-container">
          <div class="product-price text-right"><%= t('total')%>:
            <div class="our-price">£ <%= shopping_cart.total_price %></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= link_to t('shipping_details'), {:action => :delivery_methods, controller: 'home'} %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= link_to t('payment_methods'), {:action => :payment_methods, controller: 'home'} %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 buttons-container">
        <%= link_to t('payment'), new_payment_path, html_options = {class: 'button green right'} %>
        <%= link_to t('continue_shopping'), root_path, html_options = {class: 'button green right continue-shopping'} %>
      </div>
    </div>

<% end %>