<div class="container-background">
  <div class="container main-content">
    <div class="path">
      <%= render_breadcrumbs :separator => ' / ' %>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="cart-title"><%= t('shopping_cart') %></div>
      </div>
    </div>

    <div id="shopping_cart_products_div">
      <%= render 'shopping_carts/shopping_cart_products' %>

      <div class="product-price left">
        <%= t('delivery_price') %>:
        <div class="our-price">
          4 лв.
        </div>
      </div>
    </div>

    <!-- last visited products -->
    <div class="row">
        <%= render partial: 'home/last_visited_products', locals: {title: t('last_visited_products'), products: last_visit_products} %>
    </div>
  <!-- Last Visited Products End -->
  </div>
</div>