<div>
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for(@user) do |f| %>
          <div class="modal-body">
            <div class="inputs">
              <div style="float: right;">
                <%= link_to t('change_user_and_password'), edit_user_registration_path, remote: true, :'data-toggle' => 'modal', :'data-target' => '#editProfileModal' %>
              </div>
              <br/>
              <div>
                <%= f.label t('first_name') %>
                <br/>
                <%= f.text_field :first_name %>
              </div>
              <br/>
              <div>
                <%= f.label t('last_name') %>
                <br/>
                <%= f.text_field :last_name %>
              </div>
            </div>
            <div class="inputs">
              <div>
                <%= f.label t('address') %>
                <br/>
                <%= f.text_field :address %>
              </div>
              <br/>
            </div>
            <div class="inputs">
              <div class="modal-footer">
                <%= f.submit t('save'), :class => 'btn btn-primary button gray' %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>