<div>
  <div class="modal-dialog">
    <div class="modal-content">

      <%= form_for(@user) do |f| %>
          <div class="modal-body">
            <div class="inputs">
              <div>
                <%= f.label t('email') %>
                <br/>
                <%= f.email_field :email, autofocus: true %>
              </div>
              <br/>
              <div>
                <%= f.label t('password') %>
                <% if @validatable %>
                    <i>(<%= @minimum_password_length %> characters minimum)</i>
                <% end %>
                <br/>
                <%= f.password_field :password, autocomplete: "off" %>
              </div>
              <br/>
              <div>
                <%= f.label t('password_confirmation') %>
                <br/>
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
              </div>
              <br/>
              <div>
                <%= f.label t('first_name') %>
                <br/>
                <%= f.text_field :first_name %>
              </div>
              <br/>
              <div>
                <%= f.label t('last_name') %>
                <br/>
                <%= f.text_field :last_name %>
              </div>
              <br/>
              <div>
                <%= f.label t('last_name') %>
                <br/>
                <%= f.text_field :last_name %>
              </div>
          </div>
          <div class="inputs">
            <br/>
            <div>
              <%= f.label  t('country') %>
              <br/>
              <%= f.select :country %>
            </div>
            <br/>
            <div>
              <%= f.label t('address') %>
              <br/>
              <%= f.text_field :address %>
            </div>
            <br/>
          </div>
          <div class="inputs">
              <div class="modal-footer">
                <%= f.submit t('save'), :class => 'btn btn-primary button gray' %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>