<div class="container-background">
  <div class="container main-content main-content-transparent">

    <div class="path">
      <%= render_breadcrumbs :separator => ' / ' %>
    </div>

    <div class="page-title">
      <%= t('my_account') %>
    </div>

    <div class="row">
      <div class="col-md-12 account-container">

        <div class="cart-title">
          <%= t('my_account') %>
        </div>

        <div>
          <div class="arrow"></div>
          <%= link_to t('edit_profile'), edit_user_path(@user) %>
        </div>

        <div>
          <div class="arrow"></div>
          <%= link_to t('change_password'), edit_user_registration_path(@user) %>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12 account-container">
        <div class="cart-title">
          My Orders
        </div>

        <div>
          <div class="arrow"></div>
          <%= link_to t('order_history'), orders_url %>
        </div>

        <div>
          <div class="arrow"></div>
          <%= link_to t('return_request'), '#' %>
        </div>
      </div>
    </div>

  </div>
</div>