<div class="title-banner">
  <%= t('our_categories') %>
</div>
<div class="content-container categories-container">
  <ul class="categories-list">
    <% @root_categories.each do |category| %>
        <li class="category_li">
          <div class="category-arrow <%= category.children.empty? ? 'disabled' : nil %>" data-category="<%= category.name %>"></div>
          <%= link_to format('%{category} (%{product_count})', {:category => category.name, :product_count => category.products_count}), filter_path(:category => category), remote: is_ajax, :title => category.name %>
        </li>
        <% category.children.each do |child_category| %>
            <li class="sub-category hidden category_li" data-category="<%= category.name %>">
              <%= link_to format('%{category} (%{product_count})', {:category => child_category.name, :product_count => child_category.products_count}), filter_path(:category => child_category), remote: is_ajax, :title => category.name %>
            </li>
        <% end %>
    <% end %>
  </ul>
</div>