<%= form_tag(controller: 'home', action: 'send_message') do %>
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <input class="contact-input" name="name" type="text" placeholder="<%= "* #{t('name')}" %>">
      </div>
      <div class="col-md-4 col-xs-12">
        <input class="contact-input" name="email" type="email" placeholder="<%= "* #{t('email')}" %>">
      </div>
      <div class="col-md-4 col-xs-12">
        <input class="contact-input" name="phone" type="tel" placeholder="<%= "* #{t('phone')}" %>">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <textarea class="contact-input" name="message" placeholder="<%= "* #{t('contact_message')}" %>"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <input class="button green submit-button" type="submit" value="<%= "* #{t('contact_send_message')}" %>">
      </div>
    </div>
<% end %>