<!-- Main Navigation -->
<div class="main-nav-wrapper">
  <div class="container text-center">
    <div class="main-nav-tab">
      HOME
    </div>
    <div class="main-nav-tab">
      ABOUT US
    </div>
    <div class="main-nav-tab">
      PRODUCTS
    </div>
    <div class="main-nav-tab">
      SPECIAL OFFERS
    </div>
    <div class="main-nav-tab">
      ONLY ORGANIC
    </div>
    <div class="main-nav-tab">
      CONTACTS
    </div>
  </div>
</div>
<!-- Main Navigation End -->

<!-- Page content -->
<div class="container">
<!-- Categories & Products-->
<div class="row">
  <div class="col-md-3">
    <div class="title-banner">
      OUR CATEGORIES
    </div>
    <div class="content-container">
      <ul class="categories-list">
        <li>
          <a href="#">Category Name (10)</a>
        </li>
        <li>
          <a href="#">Category Name (10)</a>
        </li>
        <li>
          <a href="#">Category Name (10)</a>
        </li>
        <li>
          <a href="#">Category Name (10)</a>
        </li>
        <li>
          <a href="#">Category Name (10)</a>
        </li>
        <li>
          <a href="#">Category Name (10)</a>
        </li>
        <li>
          <a href="#">Category Name (10)</a>
        </li>
        <li>
          <a href="#">Category Name (10)</a>
        </li>
        <li>
          <a href="#">Category Name (10)</a>
        </li>
        <li>
          <a href="#">Category Name (10)</a>
        </li>
        <li>
          <a href="#">Category Name (10)</a>
        </li>
        <li>
          <a href="#">Category Name (10)</a>
        </li>
        <li>
          <a href="#">Category Name (10)</a>
        </li>
        <li>
          <a href="#">Category Name (10)</a>
        </li>
        <li>
          <a href="#">Category Name (10)</a>
        </li>
        <li>
          <a href="#">Category Name (10)</a>
        </li>
        <li>
          <a href="#">Category Name (10)</a>
        </li>
        <li>
          <a href="#">Category Name (10)</a>
        </li>
        <li>
          <a href="#">Category Name (10)</a>
        </li>
        <li>
          <a href="#">Category Name (10)</a>
        </li>
        <li>
          <a href="#">Category Name (10)</a>
        </li>
        <li>
          <a href="#">Category Name (10)</a>
        </li>
        <li>
          <a href="#">Category Name (10)</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-9">
    <div class="title-banner">
      OUR FEATURED PRODUCTS
    </div>
    <div class="content-container">
      <!-- First row -->
      <div class="row nopadding nomargin">
        <div class="col-md-4 nopadding nomargin">
          <div class="item-container text-center">
            <a href="#" class="item-image" style='background-image: url("<%= image_path "product-image-1.jpg" %>");'></a>
            <div class="item-title">
              Hair protection & BLA bla bla
            </div>
            <div class="item-price">
              <div class="price left">
                17$
              </div>
              <div class="rating right"></div>
              <div class="clearfix"></div>
            </div>
            <div class="button green">
              ADD TO CART
            </div>
          </div>
        </div>
        <div class="col-md-4 nopadding nomargin">
          <div class="item-container text-center">
            <a href="#" class="item-image" style='background-image: url("<%= image_path "product-image-1.jpg" %>");'></a>
            <div class="item-title">
              Hair protection & BLA bla bla
            </div>
            <div class="item-price">
              <div class="price left">
                17$
              </div>
              <div class="rating right"></div>
              <div class="clearfix"></div>
            </div>
            <div class="button green">
              ADD TO CART
            </div>
          </div>
        </div>
        <div class="col-md-4 nopadding nomargin">
          <div class="item-container last-item text-center">
            <a href="#" class="item-image" style='background-image: url("<%= image_path "product-image-1.jpg" %>");'></a>
            <div class="item-title">
              Hair protection & BLA bla bla
            </div>
            <div class="item-price">
              <div class="price left">
                17$
              </div>
              <div class="rating right"></div>
              <div class="clearfix"></div>
            </div>
            <div class="button green">
              ADD TO CART
            </div>
          </div>
        </div>
      </div>
      <!-- First row End -->
    </div>
    <div class="pager-wrapper">
      <div class="products-count left">
        9 of 34 products
      </div>
      <div class="pager-container right">
        <div class="page active">
          1
        </div>
        <div class="page">
          2
        </div>
        <div class="page">
          3
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- Categories & Products End-->

<!-- Last Visited Products -->
<div class="row">
  <div class="col-md-12">
    <div class="title-banner">
      Last Visited Products
    </div>
    <div class="content-container">
      <!-- First row -->
      <div class="row nopadding nomargin">
        <div class="col-md-3 nopadding nomargin">
          <div class="item-container text-center">
            <a href="#" class="item-image" style='background-image: url("<%= image_path "product-image-1.jpg" %>");'></a>
            <div class="item-title">
              Hair protection & BLA bla bla
            </div>
            <div class="item-price">
              <div class="price left">
                17$
              </div>
              <div class="rating right"></div>
              <div class="clearfix"></div>
            </div>
            <div class="button green">
              ADD TO CART
            </div>
          </div>
        </div>
        <div class="col-md-3 nopadding nomargin">
          <div class="item-container text-center">
            <a href="#" class="item-image" style='background-image: url("<%= image_path "product-image-1.jpg" %>");'></a>
            <div class="item-title">
              Hair protection & BLA bla bla
            </div>
            <div class="item-price">
              <div class="price left">
                17$
              </div>
              <div class="rating right"></div>
              <div class="clearfix"></div>
            </div>
            <div class="button green">
              ADD TO CART
            </div>
          </div>
        </div>
        <div class="col-md-3 nopadding nomargin">
          <div class="item-container text-center">
            <a href="#" class="item-image" style='background-image: url("<%= image_path "product-image-1.jpg" %>");'></a>
            <div class="item-title">
              Hair protection & BLA bla bla
            </div>
            <div class="item-price">
              <div class="price left">
                17$
              </div>
              <div class="rating right"></div>
              <div class="clearfix"></div>
            </div>
            <div class="button green">
              ADD TO CART
            </div>
          </div>
        </div>
        <div class="col-md-3 nopadding nomargin">
          <div class="item-container last-item text-center">
            <a href="#" class="item-image" style='background-image: url("<%= image_path "product-image-1.jpg" %>");'></a>
            <div class="item-title">
              Hair protection & BLA bla bla
            </div>
            <div class="item-price">
              <div class="price left">
                17$
              </div>
              <div class="rating right"></div>
              <div class="clearfix"></div>
            </div>
            <div class="button green">
              ADD TO CART
            </div>
          </div>
        </div>
      </div>
      <!-- First row End -->
    </div>
  </div>
  <!-- Last Visited Products End -->
</div>
<!-- Page content End -->