<!-- Page content -->
<div class="container-background">
  <div class="container main-content" style="padding-top: 0">
    <div class="container hidden-xs banner-container">
      <div class="row small-banners">

        <!-- Gallery -->
        <div class="col-md-8">
          <%= render 'homepage_slider' %>
        </div>
        <!-- Gallery End -->

        <!-- Banners -->
        <div class="col-md-4 small-banners">
          <%= render 'banners' %>
        </div>
        <!-- Banners End -->

      </div>
      <div class="row">
        <div class="col-md-12">
          <%= render 'best_sellers' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid nopadding nomargin visible-xs">
  <%= render 'categories_pane_phone', is_ajax: false %>
</div>

<div class="container prod-container">
  <!-- Categories & Products-->
  <div class="row">
    <!-- Categories -->
    <div class="col-md-3 hidden-xs prod-category">
      <%= render 'categories_pane', is_ajax: false %>
    </div>
    <!-- Categories End -->
    <!-- Products -->
    <div class="col-md-9 col-xs-12" id="products_div">
      <%= render 'products/products_list' %>
    </div>
    <!-- Products End -->
  </div>
  <!-- Categories & Products End-->
  <br/>
  <!-- Last Visited Products -->
  <div class="row">
    <%= render partial: 'home/last_visited_products', locals: {title: t('last_visited_products'), products: last_visit_products} %>
  </div>
  <!-- Last Visited Products End -->
</div>
<!-- Page content End -->`