<div class="container-background">
  <div class="container main-content">
    <div class="row">

      <!-- Categories -->
      <div class="col-md-3 hidden-xs">
        <%= render 'categories_pane', is_ajax: false %>
      </div>
      <!-- Categories End -->

      <!-- Payment data -->
      <div class="col-md-9 col-xs-12">

        <div class="payment-methods-banner">
          <div class="path">
            <%= render_breadcrumbs :separator => ' / ' %>
          </div>

          <div class="page-title">
            <%= @title %>
          </div>
        </div>

        <div id="gocurrencyDiv"></div>

        <%= @html %>

        <div class="col-md-6 col-xs-12 perfect_skin_banner" title="Perfect Skin"></div>
        <div class="col-md-6 col-xs-12 medical_banner" title="Medical care"></div>

      </div>
      <!-- Payment data End -->

    </div>

    <!-- Last Visited Products -->
    <div class="row">
      <%= render partial: 'home/last_visited_products', locals: {title: t('last_visited_products'), products: last_visit_products} %>
    </div>
    <!-- Last Visited Products End -->

  </div>
</div>

<script>

    document.writeOld = document.write;
    document.writelnOld = document.writeln;

    // Getting the element we are rendering too and setting string and custom function
    var sealHtml = '';
    var scriptPlaceholder = document.getElementById('gocurrencyDiv');
    var customWriteFnc = function (html) {
        sealHtml += html;
        scriptPlaceholder.innerHTML = sealHtml;
    };

    // Overwriting document.write and document.writeln with our own function
    document.write = customWriteFnc;
    document.writeln = customWriteFnc;

    // Load async script
    function loadScript() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'http://gocurrency.com/v2/table_t.php?cur=USD;EUR;GBP;JPY;CAD;AUD&v=1';
        return script;
    }

    // Hook document ready and create script html elements
    $(document).ready(function () {
        var head = document.getElementsByTagName('head')[0];
        head.appendChild(loadScript());
    });

</script>