<div class="container-background">
  <div class="container main-content">

    <%= form_for(@payment) do |f| %>
        <div class="row">

          <div class="col-md-6 col-xs-12">

            <div class="cart-title">
              Person details
            </div>

            <%= f.select :gender_id, Gender.all.collect { |p| [p.name, p.id] }, {:prompt => '* Gender'}, {class: 'checkout-input'} %>
            <%= f.text_field :first_name, class: 'checkout-input', placeholder: '* First Name' %>
            <%= f.text_field :last_name, class: 'checkout-input', placeholder: '* Last Name' %>
            <%= f.email_field :email, class: 'checkout-input', placeholder: "* #{t('email')}" %>
            <%= f.phone_field :phone, class: 'checkout-input', placeholder: "* #{t('phone')}" %>
            <%= f.phone_field :fax, class: 'checkout-input', placeholder: 'Fax' %>

          </div>

          <div class="col-md-6 col-xs-12">

            <div class="cart-title">
              Address
            </div>

            <%= f.select :country_id, Country.all.collect { |p| [p.name, p.id] }, {:prompt => "* #{t('country')}"}, {class: 'checkout-input'} %>
            <%= f.select :state_id, State.all.collect { |p| [p.name, p.id] }, {:prompt => "* #{t('state')}"}, {class: 'checkout-input'} %>
            <%= f.text_field :city, class: 'checkout-input', placeholder: "* #{t('city')}" %>
            <%= f.text_field :postal_code, class: 'checkout-input', placeholder: "* #{t('postal_code')}" %>
            <%= f.text_field :address, class: 'checkout-input', placeholder: '* Address 1' %>
            <%= f.text_field :second_address, class: 'checkout-input', placeholder: 'Address 2' %>

          </div>

        </div>

        <div class="row">

          <div class="col-md-12 col-xs-12">

            <div class="cart-title">
              Payment methods
            </div>

            <%= f.select(:payment_method, ['PayPal', 'Credit Card'], {}, {class: 'checkout-input'}) %>

          </div>

        </div>

        <div class="row">

          <div class="col-md-12 col-xs-12">

            <div class="cart-title">
              Additional information
            </div>

            <%= f.text_area :description, class: 'checkout-input', placeholder: "#{t('description')}" %>

          </div>

        </div>

        <div class="row">

          <div class="col-md-12 buttons-container">
            <input name="Submit" type="submit" value="<%= t('execute_payment') %>" class="button green right submit-button">
            <%= link_to t('shopping_cart'), shopping_carts_path, html_options = {class: 'button green right continue-shopping'} %>
          </div>

        </div>

    <% end %>

  </div>
</div>