<% if @payment.nil? %>

    Payment not found!

<% else %>

    <div class="container-background">
      <div class="container main-content">

        <div class="path">
          <%= render_breadcrumbs :separator => ' / ' %>
        </div>

        <div class="page-title">
          Payment info
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="product-content-table-item">
              <div class="col-md-2 content-table-td title">Ident №</div>
              <div class="col-md-4 content-table-td title">Products</div>
              <div class="col-md-2 content-table-td title">Status</div>
              <div class="col-md-2 content-table-td title"><%= t('quantity') %></div>
              <div class="col-md-2 content-table-td title"><%= t('total') %></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="product-content-table-item">
              <div class="col-md-2 content-table-td"><%= @payment.id %></div>
              <div class="col-md-4 content-table-td"><%= @payment.item_name %></div>
              <div class="col-md-2 content-table-td"><%= @payment.status %></div>
              <div class="col-md-2 content-table-td"><%= @payment.quantity %></div>
              <div class="col-md-2 content-table-td"><%= format('£ %.2f', @payment.amount) %></div>
            </div>
          </div>
        </div>

      </div>
    </div>

<% end %>