<div class="product-reviews-container distinct">
  <div class="product-rating">
    <div class="star-rating">
      <div class="star" data-rating="1"></div>
      <div class="star" data-rating="2"></div>
      <div class="star" data-rating="3"></div>
      <div class="star" data-rating="4"></div>
      <div class="star" data-rating="5"></div>
      <!-- Place the product's rating in the div below -->
      <div class="hidden rating-value"><%= product.average_rating %></div>
      <div class="product-reviews"><a href="#">(<%= product.product_reviews.size %> <%= t('reviews') %>)</a>
      </div>
    </div>
  </div>

  <% product.product_reviews.group_by(&:rating).each do |group| %>
      <div class="product-reviews-distinct-container">
        <div class="product-review-star">
          <div class="star-name"><%= group[1][0].rating %> <%= t('stars') %></div>
          <div class="star-percentage">
            <!-- Fill the percentage below -->
            <div class="star-percentage-cover" style="width: <%= group[1][0].rating * 20 %>%;"></div>
          </div>
          <div class="star-count">(<%= group.size %>)</div>
        </div>
      </div>
  <% end %>
</div>
