<div class="product-rating left">
  <div class="star-rating">
    <div class="star rate" data-rating="1"></div>
    <div class="star rate" data-rating="2"></div>
    <div class="star rate" data-rating="3"></div>
    <div class="star rate" data-rating="4"></div>
    <div class="star rate" data-rating="5"></div>
    <!-- Place the product's rating in the div below -->
    <div class="hidden rating-value"><%= product.average_rating %></div>
  </div>
</div>

<div class="product-reviews left">
  <a href="#" title="<%= t('reviews')%>">
    <%= product.product_reviews.size %> <%= t('reviews')%>
  </a>
</div>

<div class="product-in-stock right">
  <%= t('in_stock') %>:
  <div class="stock">
    <%= product.isInStock? && !product.stock_status.nil? ? product.stock_status.name : 'No' %>
  </div>
</div>

<div class="clearfix"></div>

<div class="qty-add-container">
  <div class="quantity-container">
    <div><%= t('qty') %></div>
    <%= render partial: 'layouts/quantity_spinner', locals: { value: product.quantity > 0 ? 1 : 0 , min: product.quantity > 0 ? 1 : 0, max: product.quantity > 0 ? product.quantity : 0, css: 'product-quantity-js'}, attrs: product.quantity > 0 ? '' : 'disabled' %>
  </div>
  <div class="add-to-cart-container">
    <%= link_to t('add_to_cart'), '#', :class => 'button green add-to-card-js', :title => t('add_to_cart'), :id => 'product_add_to_card', :data => {:product_id => product.id, :quantity_selector => '.product-quantity-js:first', :remote => true} %>
  </div>
</div>
