<div class="title-banner">
  OUR FEATURED PRODUCTS
</div>
<div class="content-container">
  <!-- rows -->
  <div class="row nomargin">
    <% @products.in_groups_of(3, false).each do |group| %>
        <% group.each do |product| %>
            <%= render partial: 'products/product', locals: {product: product, item_class: 'col-md-4 col-sm-6 col-xs-12 item-container'} %>
        <% end %>
    <% end %>
  </div>
  <!-- rows -->
</div>
<div class="pager-wrapper">

  <div class="products-count left">
    <%= product_passed %> of <%= @products.count %> products
  </div>
  <div class="pager-container right">
    <% @pages.each do |page| %>
        <%= link_to({ controller: @from_controller, action: "change_page", page_number: page.number } , remote: true) do %>
            <div class="page <%= 'active' if page.is_active?  %>">
              <div> <%= page.number %></div>
            </div>
        <% end %>
    <% end %>
  </div>
  <div class="clearfix"></div>
</div>