<div class="<%= item_class%>">
  <br/>
  <div class="text-center">
    <%= link_to '', product, :class => 'item-image', :style => 'background-image: url('+ product.image.url() + ');' %>

    <div class="item-title <%= is_small %>">
      <%= product.name %>
    </div>
    <div class="item-price">
      <div class="price <%= is_small %> left">
        <%= format('£ %.2f', product.price) %>
      </div>
      <div class="rating right">
        <div class="star-rating">
          <div class="star <%= is_small %>" data-rating="1"></div>
          <div class="star <%= is_small %>" data-rating="2"></div>
          <div class="star <%= is_small %>" data-rating="3"></div>
          <div class="star <%= is_small %>" data-rating="4"></div>
          <div class="star <%= is_small %>" data-rating="5"></div>
          <!-- Place the product's rating in the div below -->
          <div class="hidden rating-value">2</div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <%= link_to t('add_to_cart'), {:controller => :shopping_carts, :action => :add_to_shopping_cart, :id => product.id, :quantity => 1, :remote => true }, {:class => 'button gray'} %>
  </div>
</div>