<div class="container margin-top">
 <!-- <div class="path">
    <%= render_breadcrumbs :separator => ' / ' %>
  </div>

  <div class="page-title">
    Products
  </div>-->

  <!-- Categories & Products-->
  <div class="row categories_and_products_container">
    <!-- Categories -->
    <div class="col-md-3 hidden-xs">
      <%= render 'home/categories_pane', is_ajax: true %>
      <br/>
      <%= render 'home/brand_pane' %>
      <br/>
      <%= render 'home/price_pane' %>
    </div>

    <!-- Categories End -->
    <!-- Products -->
    <div class="col-md-9 col-xs-12" id="products_div">
      <%= render 'products/products_list' %>
    </div>
    <!-- Products End -->
  </div>
  <!-- Categories & Products End-->
</div>