<div class="container-background">
  <div class="container main-content">

    <div class="row">
      <!-- Product's Gallery -->
      <div class="col-md-4 col-xs-12">
        <div id="items-carousel" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="<%= @product.image %>" alt="<%= @product.name %>">
            </div>
            <% @product.product_images.each do |product_image| %>
                <div class="item">
                  <img src="<%= product_image.image %>" alt="<%= @product.name %>">
                </div>
            <% end %>
          </div>
          <!-- Wrapper for slides end -->
          <br>
          <!-- Indicators -->
          <div class="carousel-indicators thumbs row thumbIndicatorsContainer">
            <div class="inline">
              <div data-target="#items-carousel" data-slide-to="0" class="col-md-3 col-xs-3 indicator">
                <img class="img-responsive" src="<%= @product.image %>" alt="<%= @product.name %>">
              </div>
            </div>
            <% @product.product_images.each.with_index(1) do |product_image, i| %>
                <div class="inline">
                  <div data-target="#items-carousel" data-slide-to="<%= i %>" class="col-md-3 col-xs-3 indicator">
                    <img class="img-responsive" src="<%= product_image.image %>" alt="<%= @product.name %>">
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
      <!-- Product's Gallery  end-->

      <!-- Product's basic info -->
      <div class="col-md-5">

        <div class="path">
          <%= render_breadcrumbs :separator => ' / ' %>
        </div>

        <div class="product-title">
          <%= @product.name %>
        </div>

        <div class="product-price left">
          <%= t('old_price') %>:
          <div class="old-price">
            <%= number_to_currency(@product.price * 1.2) %>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="product-price left">
          <%= t('our_price') %>:
          <div class="our-price">
            <%= number_to_currency(@product.price) %>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="product-price saving left">
          <%= t('you_are_saving') %>:
          <%= number_to_currency(@product.price * 0.2) %> (20%)
        </div>

        <div class="clearfix"></div>

        <div class="product-reviews-container left" id="product-reviews-container">
          <%= render :partial => 'product_review', locals: {product: @product} %>
        </div>

      </div>
      <!-- Product's basic info end -->
    </div>

    <!-- Product's details info -->
    <div class="row">
      <div class="col-md-12 product-details-container" role="tabpanel">
        <ul class="nav nav-tabs product-details-tab-container" role="tablist">
          <li role="presentation" class="product-details-tab active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab"><%= t('product_overview') %></a>
          </li>
          <li role="presentation" class="product-details-tab">
            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><%= t('full_description') %></a>
          </li>
        </ul>
        <div class="details-content-container">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">

              <% if !@product.benefits.nil? %>
                  <div class="row">
                    <div class="details-header"><%= t('product_benefits') %></div>
                    <div style="word-wrap: break-word; width: auto;">
                      <%= raw @product.benefits %>
                    </div>
                  </div>
              <% end %>

              <% if !@product.ingredients.nil? %>
                  <div class="row">
                    <div class="details-header"><%= t('product_ingredients') %></div>
                    <div style="word-wrap: break-word; width: auto;">
                      <%= raw @product.ingredients %>
                    </div>
                  </div>
              <% end %>

              <% if !@product.direction.nil? %>
                  <div class="row">
                    <div class="details-header"><%= t('product_direction') %></div>
                    <div style="word-wrap: break-word; width: auto;">
                      <%= raw @product.direction %>
                    </div>
                  </div>
              <% end %>

              <div class="row delivery-panel">
                <div class="col-md-6">
                  <div class="delivery-image left"></div>
                  <div class="delivery-text">*Deliveries are made by Royal Mail for UK orders.</div>
                </div>
                <div class="col-md-6">
                  <div class="delivery-post-office left"></div>
                  <div class="delivery-text">*For outside UK orders, deliveries are made by national post offices to
                    your door.
                  </div>
                </div>
              </div>

            </div>

            <div role="tabpanel" class="tab-pane" id="profile">

              <% if !@product.description.nil? %>
                  <div class="row">
                    <div class="details-header"><%= t('full_description_of_the_product') %></div>
                    <div style="word-wrap: break-word; width: auto;">
                      <%= raw @product.description %>
                    </div>
                  </div>
              <% end %>

              <% if !@product.manufacturer.nil? %>
                  <div class="row">
                    <div class="details-header"><%= t('manufacturing_company') %></div>
                    <div style="word-wrap: break-word; width: auto;">
                      <%= @product.manufacturer.name %>
                    </div>
                  </div>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Product's details info end -->

    <!-- Product's reviews -->
    <div class="row">
      <div class="col-md-12">
        <div class="product-review-title"><%= t('customer_reviews') %></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="product-review-stars-container" id="product-review-stars-container">
          <%= render :partial => 'full_review', locals: {product: @product} %>
        </div>
      </div>
    </div>
    <!-- Product's reviews end -->

    <!-- Last Visited Products -->
    <div class="row">
      <%= render :partial => 'home/last_visited_products', locals: {title: 'Related products', products: @product.related_products.to_a()} %>
    </div>
    <!-- Last Visited Products End -->
  </div>
</div>