<div class="container margin-top">
<div class="row">
  <!-- Product's Gallery -->
  <div class="col-md-4 col-xs-12">
    <div id="items-carousel" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item">
          <img src="<%= @product.image %>" alt="...">
        </div>
        <div class="item">
          <img src="<%= image_path "product-image-2.jpg" %>" alt="...">
        </div>
        <div class="item">
          <img src="<%= image_path "product-image-3.jpg" %>" alt="...">
        </div>
        <div class="item active">
          <img src="<%= image_path "product-image-4.jpg" %>" alt="...">
        </div>
      </div>
      <!-- Wrapper for slides end -->
      <br>
      <!-- Indicators -->
      <div class="carousel-indicators thumbs row thumbIndicatorsContainer">
        <div class="inline">
          <div data-target="#items-carousel" data-slide-to="0" class="col-md-3 col-xs-3 indicator">
            <img class="img-responsive" src="<%= @product.image %>" alt="...">
          </div>
        </div>
        <div class="inline">
          <div data-target="#items-carousel" data-slide-to="1" class="col-md-3 col-xs-3 indicator">
            <img class="img-responsive" src="<%= image_path "product-image-2.jpg" %>" alt="...">
          </div>
        </div>
        <div class="inline">
          <div data-target="#items-carousel" data-slide-to="2" class="col-md-3 col-xs-3 indicator">
            <img class="img-responsive" src="<%= image_path "product-image-3.jpg" %>" alt="...">
          </div>
        </div>
        <div class="inline active">
          <div data-target="#items-carousel" data-slide-to="3" class="col-md-3 col-xs-3 indicator">
            <img class="img-responsive" src="<%= image_path "product-image-4.jpg" %>" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Product's Gallery  end-->

  <!-- Product's basic info -->
  <div class="col-md-4">
    <div class="path">
      <%= link_to 'Home', '/' %>
      /
      <%= link_to 'Products', products_path %>
      /
      <%= link_to @product.name, product_path(@product), :class => 'active' %>
    </div>
    <div class="product-title">
      <%= @product.name %>
    </div>
    <div class="product-price">Old price:
      <div class="old-price">£ <%= @product.price * 1.2 %></div>
    </div>
    <div class="product-price">Our price:
      <div class="our-price">£ <%= @product.price %></div>
    </div>
    <div class="product-price saving">You are saving: £ <%= @product.price * 0.2 %> (20%)</div>
    <div class="product-reviews-container">
      <div class="product-rating left">
        <div class="star-rating">
          <div class="star" data-rating="1"></div>
          <div class="star" data-rating="2"></div>
          <div class="star" data-rating="3"></div>
          <div class="star" data-rating="4"></div>
          <div class="star" data-rating="5"></div>
          <!-- Place the product's rating in the div below -->
          <div class="hidden rating-value">3</div>
        </div>
      </div>
      <div class="product-reviews left"><a href="#">12 Reviews</a></div>
      <div class="product-in-stock right">In Stock:
        <div class="stock"> <%= @product.isInStock? ? @product.stock_status.name : 'No' %></div>
      </div>
      <div class="clearfix"></div>
      <div class="qty-add-container">
        <div class="quantity-container">
          <div class="text-center">QTY</div>
          <div class="quantity">
            <%= @product.quantity %>
          </div>
        </div>
        <div class="add-to-cart-container">
          <div class="button gray">Add To Cart</div>
        </div>
      </div>
    </div>
  </div>
  <!-- Product's basic info end -->
</div>
<!-- Product's details info -->
<div class="row">
  <div class="col-md-12 product-details-container" role="tabpanel">
    <ul class="nav nav-tabs product-details-tab-container" role="tablist">
      <li role="presentation" class="product-details-tab active">
        <a href="#home" aria-controls="home" role="tab" data-toggle="tab" class="product_tab">Product Overview</a>
      </li>
      <li role="presentation" class="product-details-tab">
        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" class="product_tab">Full Description</a>
      </li>
    </ul>
    <div class="details-content-container" >
      <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="home">
              <div class="details-header">Full Description of the product</div>
              <div class="details-content">
                <%= @product.description %>
              </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="profile">.1..</div>
      </div>

      <div class="details-header">The Product Contains:</div>
      <!-- Product's content titles -->
      <div class="row">
        <div class="col-md-12">
          <div class="product-content-table-item">
            <div class="col-md-2 content-table-td title">&nbsp;</div>
            <div class="col-md-2 content-table-td title">Something</div>
            <div class="col-md-2 content-table-td title">Something</div>
            <div class="col-md-2 content-table-td title">Something</div>
            <div class="col-md-2 content-table-td title">Something</div>
            <div class="col-md-2 content-table-td title">Something</div>
          </div>
        </div>
      </div>
      <!-- Product's content titles end -->
      <!-- Product's content rows -->
      <div class="row">
        <div class="col-md-12">
          <div class="product-content-table-item">
            <div class="col-md-2 content-table-td title">Something</div>
            <div class="col-md-2 content-table-td">Something</div>
            <div class="col-md-2 content-table-td">Something</div>
            <div class="col-md-2 content-table-td">Something</div>
            <div class="col-md-2 content-table-td">Something</div>
            <div class="col-md-2 content-table-td">Something</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="product-content-table-item">
            <div class="col-md-2 content-table-td title">Something</div>
            <div class="col-md-2 content-table-td">Something</div>
            <div class="col-md-2 content-table-td">Something</div>
            <div class="col-md-2 content-table-td">Something</div>
            <div class="col-md-2 content-table-td">Something</div>
            <div class="col-md-2 content-table-td">Something</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="product-content-table-item">
            <div class="col-md-2 content-table-td title">Something</div>
            <div class="col-md-2 content-table-td">Something</div>
            <div class="col-md-2 content-table-td">Something</div>
            <div class="col-md-2 content-table-td">Something</div>
            <div class="col-md-2 content-table-td">Something</div>
            <div class="col-md-2 content-table-td">Something</div>
          </div>
        </div>
      </div>
      <!-- Product's content rows end -->
    </div>
  </div>
</div>
<!-- Product's details info end -->

<!-- Product's reviews -->
<div class="row">
  <div class="col-md-12">
    <div class="product-review-title">Customer Reviews</div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="product-review-stars-container">
      <div class="product-reviews-container distinct">
        <div class="product-rating">
          <div class="star-rating">
            <div class="star" data-rating="1"></div>
            <div class="star" data-rating="2"></div>
            <div class="star" data-rating="3"></div>
            <div class="star" data-rating="4"></div>
            <div class="star" data-rating="5"></div>
            <!-- Place the product's rating in the div below -->
            <div class="hidden rating-value"><%= @product.average_rating %></div>
            <div class="product-reviews"><a href="#">(<%= @product.product_reviews.size %> Reviews)</a></div>
          </div>
        </div>

        <% @product.product_reviews.group_by(&:rating).each do |group| %>
            <div class="product-reviews-distinct-container">
              <div class="product-review-star">
                <div class="star-name"><%= group[1][0].rating %> Stars</div>
                <div class="star-percentage">
                  <!-- Fill the percentage below -->
                  <div class="star-percentage-cover" style="width: <%= group[1][0].rating * 20 %>%;"></div>
                </div>
                <div class="star-count">(<%= group.size %>)</div>
              </div>
            </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
<!-- Product's reviews end -->

<!-- Last Visited Products -->
<div class="row">
  <%= render 'home/last_visited_products' %>
</div>
<!-- Last Visited Products End -->
</div>