<div class="modal fade login-modal" id="forgottenPassModal" tabindex="-1" role="dialog" aria-labelledby="forgottenPassModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header title-banner">
        <button class="close" data-dismiss="modal">×</button>
        <div>Forgot your password?</div>
      </div>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
          <div class="modal-body">
            <div class="inputs">

              <div><%= f.label :email %>
                <br/>
                <%= f.email_field :email, autofocus: true %></div>

              <div class="modal-footer">
                <div class="login-links">
                  <%= render "users/shared/signin_link" %>
                  <%= render "users/shared/signup_link" %>
                  <%= render "users/shared/resend_confirmation_link" %>
                </div>

                <%= f.submit "Send reset instructions", :class => 'btn btn-primary button green' %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>