<div class="modal fade login-modal" id="resendConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="resendConfirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header title-banner">
        <button class="close" data-dismiss="modal">×</button>
        <div><%= t('resend_instr')%></div>
      </div>
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post}) do |f| %>
          <div class="modal-body">
            <div class="inputs">

              <div><%= f.label :email %>
                <br/>
                <%= f.email_field :email, autofocus: true %></div>

              <div class="modal-footer">
                <div class="login-links">
                  <%= render "users/shared/signin_link" %>
                  <%= render "users/shared/signup_link" %>
                  <%= render "users/shared/forgotten_pass_link" %>
                </div>
                <%= f.submit t('resent_confirm'), :class => 'btn btn-primary button gray' %></div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>