<div class="modal fade login-modal" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header title-banner">
        <button class="close" data-dismiss="modal">×</button>
        <div><%= t('sign_up')%></div>
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="modal-body">
            <div class="inputs">
              <div><%= f.label :email %>
                <br/>
                <%= f.email_field :email, autofocus: true %>
              </div>
              <div>
                <%= f.label :password %>
                <% if @validatable %>
                    <i>(<%= @minimum_password_length %> characters minimum)</i>
                <% end %>
                <br/>
                <%= f.password_field :password, autocomplete: "off" %>
              </div>
              <div>
                <%= f.label :password_confirmation %>
                <br/>
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
              </div>
              <div class="modal-footer">
                <div class="login-links">
                  <%= render "users/shared/signin_link" %>
                  <%= render "users/shared/forgotten_pass_link" %>
                  <%= render "users/shared/resend_confirmation_link" %>
                </div>
                <%= f.submit t('sign_up'), :class => 'btn btn-primary button gray' %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>