<!DOCTYPE html>
<html>
<head>
  <title>HealthPriority</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--
<div id="errors_div">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>
-->
<!-- Top bar -->
<div class="top-bar-wrapper">
  <div class="container">
    <div class="top-bar-container left">
      <div class="top-bar-text phone">
        For more information 0883 412 071
      </div>
    </div>
    <div class="top-bar-container right">
      <div class="top-bar-tab first-tab top-bar-text">
        FAQ
      </div>
      <div class="top-bar-tab top-bar-text">
        DELIVERY
      </div>
      <div class="top-bar-tab top-bar-text">
        <% if user_signed_in? -%>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
            <%= link_to "Sign In", new_user_session_path, remote: true, :"data-toggle" => 'modal', :"data-target" => '#signInModal' %>
        <% end %>
      </div>
      <div class="top-bar-tab top-bar-text">
        <div class="fb_top" style='background-image: url("<%= image_path "fb-header.png" %>");'></div>
        Connect
      </div>
    </div>
  </div>
</div>
<!-- Top bar end -->

<!-- Search Section -->
<div class="search-section-container">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <%= link_to '', root_path, :class => 'logo', :data => { :no_turbolink => true } %>
      </div>
      <div class="col-md-8">
        <div class="search-section">
            <div class="search-container">
                <div class="search-dropdown-container left">
                    <div class="dropdown-toggle" id="search_category" data-toggle="dropdown">
                        <span id="chosen_category">All Categories</span>
                        <b class="caret"></b>
                    </div>
                    <ul aria-labelledby="search_category" role="menu" class="dropdown-menu ">
                        <li>
                            All Categories
                        </li>
                        <li>
                            Category 1
                        </li>
                        <li>
                            Category 2
                        </li>
                        <li>
                            Category 3
                        </li>
                    </ul>
                </div>
                <div class="search-input-container left">
                  <input type="text" class="search-input" placeholder="Search in our products..." />
                </div>
                <div class="search-image right"></div>
            </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="cart-info-section">
          <div class="cart-amount">3</div>
          <%= link_to '', shopping_cards_path, :class => 'cart' %>
          <div class="total-price">
            <div class="total">total:</div>
            <div class="price">$112</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Search Section End -->

<!-- Main Navigation -->
<div class="main-nav-wrapper">
  <div class="container text-center">
    <div class="main-nav-tab">
      <%= link_to 'HOME', root_path, :data => { :no_turbolink => true }, :class => 'top-bar-text' %>
    </div>
    <div class="main-nav-tab">
      <%= link_to 'ABOUT US', about_us_path, :class => 'top-bar-text' %>
    </div>
    <div class="main-nav-tab">
      <%= link_to 'PRODUCTS', products_path, :class => 'top-bar-text' %>
    </div>
    <div class="main-nav-tab">
      <%= link_to 'SPECIAL OFFERS', special_offers_path, :class => 'top-bar-text' %>
    </div>
    <div class="main-nav-tab">
      <%= link_to 'ONLY ORGANIC', only_organics_path, :class => 'top-bar-text' %>
    </div>
    <div class="main-nav-tab">
      <%= link_to 'CONTACTS', contacts_path, :class => 'top-bar-text' %>
    </div>
  </div>
</div>
<!-- Main Navigation End -->




<%= yield %>




<br/>
<br/>
<!-- Footer navigation -->
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="category-name">
        First Category
      </div>
      <a href="#" class="category-item">Category namee </a>
      <a href="#" class="category-item">Category name </a>
      <a href="#" class="category-item">Category name </a>
      <a href="#" class="category-item">Category name </a>
    </div>
    <div class="col-md-2">
      <div class="category-name">
        First Category
      </div>
      <a href="#" class="category-item">Category name </a>
      <a href="#" class="category-item">Category name </a>
      <a href="#" class="category-item">Category name </a>
      <a href="#" class="category-item">Category name </a>
    </div>
    <div class="col-md-4">
      <div class="category-name">
        First Category
      </div>
      <div class="row">
        <div class="col-md-6">
          <a href="#" class="category-item">Category name </a>
          <a href="#" class="category-item">Category name </a>
          <a href="#" class="category-item">Category name </a>
          <a href="#" class="category-item">Category name </a>
        </div>
        <div class="col-md-6">
          <a href="#" class="category-item">Category name </a>
          <a href="#" class="category-item">Category name </a>
          <a href="#" class="category-item">Category name </a>
          <a href="#" class="category-item">Category name </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="category-name">
        e-mail newsletter
      </div>
      <div class="category-text">
        All products on the website would be
        featured under categories lists.
      </div>
      <div class="email-container">
        <input type="text" class="email-input" placeholder="Enter Your Email Address" />
        <div class="send-email-button right"></div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Footer navigation End -->

<!-- Footer -->
<div class="footer text-center">
  <br/>
  <div class="footer-main-text">
    Health Priority © Copyright 2014  All rights reserved.
  </div>
  <br/>
  <div class="footer-main-text">
    “Brand Name” is a registered trademark of this that and lorem ipsum dolor sit amet. Aber conques sed to do.
  </div>
  <div class="footer-text-title">Tuesday, Sep 09, 2014, 8:51 PST</div>
  <div class="footer-text">
    Disclaimer: Statements made, or products sold through this website, have not been evaluated by the English Food and Drug Administration.
    They are not intended to diagnose, treat, cure or prevent any disease. Read more »
  </div>
</div>
<!-- Footer End -->

<!-- Login modals -->
<%= render 'layouts/sign_in_modal' %>
<%= render 'layouts/sign_up_modal' %>
<%= render 'layouts/forgotten_pass_modal' %>
<%= render 'layouts/resend_confirmation_modal' %>
<!-- Login modals End-->

</body>
</html>
