<!DOCTYPE html>
<html>
<head>
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description"
        content="Health Priority is an health care online shop for all kind of high quality, tested and certified health care products.">
  <meta property="og:title" content="Health Priority" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.healthpriority.co.uk/" />
  <meta property="og:image"
        content="<%= image_path 'logo.png' %>" />
  <meta property="og:description"
        content="Health Priority is an health care online shop for all kind of high quality, tested and certified health care products." />
  <title>Health Priority</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="main-fonts">
<!-- Top bar -->
<div class="top-bar-wrapper">
  <div class="container">
    <div class="top-bar-container left">
      <div class="top-bar-text phone">
        <%= t('for_more_information')%> 0883 412 071
      </div>
    </div>
    <div class="top-bar-container right">
      <div class="top-bar-tab first-tab top-bar-text">
        <%= link_to t('faq'), {:action => :faq, :controller => 'home'}, {:class => 'navbar-link'} %>
      </div>
      <div class="top-bar-tab top-bar-text">
        <%= link_to t('delivery'), {:action => :delivery_methods, :controller => 'home'}, :class => 'navbar-link' %>
      </div>
      <% if user_signed_in? -%>
          <div class="top-bar-tab top-bar-text">
            <%= link_to t('my_account'), :class => 'navbar-link' %>
          </div>
          <div class="top-bar-tab top-bar-text">
            <%= link_to t('logout'), destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
          </div>
      <% else %>
          <div class="top-bar-tab top-bar-text">
            <%= link_to t('login'), new_user_session_path, remote: true, :'data-toggle' => 'modal', :'data-target' => '#signInModal' %>
          </div>
      <% end %>
      <div class="top-bar-tab top-bar-text">
        <div class="fb_top"></div>
        <%= t('connect')%>
      </div>
    </div>
  </div>
</div>
<!-- Top bar end -->

<!-- Search Section -->
<div class="search-section-container">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-2 col-xs-1 nomargin nopadding">
        <%= link_to '', root_path, :class => 'logo', :data => {:no_turbolink => true} %>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-8">
        <div class="search-section">
          <div class="col-md-10 col-sm-10 col-xs-10">
            <div class="search-container">
              <div class="search-dropdown-container left">
                <div class="dropdown-toggle" id="search_category" data-toggle="dropdown">
                  <span id="chosen_category" selected_category="" class="search_text"><%= t('all_categories')%></span>
                  <b class="caret"></b>
                </div>
                <ul aria-labelledby="search_category" role="menu" class="dropdown-menu" id="category-menu">
                  <li>
                    <%= t('all_categories')%>
                  </li>
                  <% @root_categories.each do |category| %>
                      <li category="<%= category.id %>"><%= category.name %></li>
                  <% end %>
                </ul>
              </div>
              <div class="search-input-container left">
                <input type="text" id="search_input" class="search-input" placeholder="Search in our products"/>
              </div>
              <div class="right search-image-div">
                <div id="search_link" class='search-image'></div>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2">
            <!-- Cert logo -->
            <%= link_to '', '#', :class => 'cert-logo', :data => {:no_turbolink => true} %>
          </div>
        </div>
      </div>
      <div id="shopping_cart_div" class="col-md-2 col-sm-2 col-xs-2 nopadding nomargin">
        <%= render 'shopping_carts/shopping_cart' %>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Search Section End -->

<!-- Main Navigation -->
<nav class="main-nav-wrapper">
  <!-- Nav bar for phones -->
  <div class="navbar navbar-default visible-xs phone-nav">
    <div class="navbar-header" data-toggle="collapse" data-target=".phone-main-nav">
      <div class="phone-nav-title"><%= t('menu')%></div>
      <button data-target=".phone-main-nav" class="navbar-toggle">
        <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse nopadding phone-main-nav">
      <ul class="nav navbar navbar-left nomargin">
        <li class="nav-item-phone text-center"><%= link_to t('home'), root_path, :data => {:no_turbolink => true}, :class => 'top-bar-text' %></li>
        <li class="nav-item-phone text-center"><%= link_to t('about_us'), {:action => :about_us, :controller => 'home'}, :class => 'top-bar-text' %></li>
        <li class="nav-item-phone text-center"><%= link_to t('products'), products_path, :class => 'top-bar-text' %></li>
        <li class="nav-item-phone text-center"><%= link_to t('special_offers'), special_offers_path, :class => 'top-bar-text' %></li>
        <li class="nav-item-phone text-center"><%= link_to t('payment_methods'), {:action => :payment_methods, :controller => 'home'}, :class => 'top-bar-text' %></li>
        <li class="nav-item-phone text-center"><%= link_to t('shipping_details'), {:action => :delivery_methods, :controller => 'home'}, :class => 'top-bar-text' %></li>
        <li class="nav-item-phone text-center"><%= link_to t('out_partners'), {:action => :our_partners, :controller => 'home'}, :class => 'top-bar-text' %></li>
        <li class="nav-item-phone text-center"><%= link_to t('contacts'), {:action => :contacts, :controller => 'home'}, :class => 'top-bar-text' %></li>
      </ul>
    </div>
  </div>
  <!-- Nav bar for phones end -->
  <!-- nav bar large displays -->
  <div class="container text-center hidden-xs">
    <div class="main-nav-tab">
      <%= link_to 'HOME', root_path, :data => {:no_turbolink => true}, :class => 'top-bar-text' %>
    </div>
    <div class="main-nav-tab">
      <%= link_to 'ABOUT US', {:action => :about_us, :controller => 'home'}, :class => 'top-bar-text' %>
    </div>
    <div class="main-nav-tab">
      <%= link_to 'PRODUCTS', products_path, :class => 'top-bar-text' %>
    </div>
    <div class="main-nav-tab">
      <%= link_to 'SPECIAL OFFERS', special_offers_path, :class => 'top-bar-text' %>
    </div>
    <div class="main-nav-tab">
      <%= link_to t('payment_mehtods'), {:action => :payment_methods, :controller => 'home'}, :class => 'top-bar-text' %>
    </div>
    <div class="main-nav-tab">
      <%= link_to 'SHIPPING DETAILS', {:action => :delivery_methods, :controller => 'home'}, :class => 'top-bar-text' %>
    </div>
    <div class="main-nav-tab">
      <%= link_to 'OUR PARTNERS', {:action => :our_partners, :controller => 'home'}, :class => 'top-bar-text' %>
    </div>
    <div class="main-nav-tab">
      <%= link_to 'CONTACTS', {:action => :contacts, :controller => 'home'}, :class => 'top-bar-text' %>
    </div>
  </div>
  <!-- nav bar large displays end -->
</nav>
<!-- Main Navigation End -->

<!-- Notification messages -->
<%= render partial: 'layouts/flash_messages', locals: {flash: flash} %>

<div>
  <div class="notice"><%= notice %></div>
  <div class="alert nopadding nomargin"><%= alert %></div>
</div>

<%= yield %>

<!-- Footer navigation -->
<div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-3 col-xs-6">
      <div class="category-name">
        First Category
      </div>
      <a href="#" class="category-item">Category name </a>
      <a href="#" class="category-item">Category name </a>
      <a href="#" class="category-item">Category name </a>
      <a href="#" class="category-item">Category name </a>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6">
      <div class="category-name">
        First Category
      </div>
      <a href="#" class="category-item">Category name </a>
      <a href="#" class="category-item">Category name </a>
      <a href="#" class="category-item">Category name </a>
      <a href="#" class="category-item">Category name </a>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="category-name">
        First Category
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <a href="#" class="category-item">Category name </a>
          <a href="#" class="category-item">Category name </a>
          <a href="#" class="category-item">Category name </a>
          <a href="#" class="category-item">Category name </a>
        </div>
        <div class="col-md-6 col-xs-6">
          <%= link_to t('help_center'), {:action => :help_center, :controller => 'home'}, :class => 'category-item' %>
          <%= link_to t('shipping'), {:action => :delivery_methods, :controller => 'home'}, :class => 'category-item' %>
          <%= link_to t('payment_methods'), {:action => :payment_methods, :controller => 'home'}, :class => 'category-item' %>
          <%= link_to t('what_is_included_in_the_price'), {:action => :price_details, :controller => 'home'}, :class => 'category-item' %>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="category-name">
        e-mail newsletter
      </div>
      <div class="category-text">
        All products on the website would be
        featured under categories lists.
      </div>
      <div class="email-container">
        <input type="text" class="email-input" placeholder="Enter Your Email Address"/>

        <div class="send-email-button right"></div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Footer navigation End -->

<!-- Footer -->
<div class="footer text-center">
  <div class="sponsors-footer"></div>
  <div class="footer-main-text">
    Health Priority © Copyright 2014 All rights reserved.
  </div>
  <div class="footer-main-text">
    Developed and designed by <a href="http://www.empters.com">Empters Ltd.</a>
  </div>
  <br/>

  <div class="footer-main-text">
    <%= t('trade_mark')%>
  </div>
  <div class="footer-text-title">Tuesday, Sep 09, 2014, 8:51 PST</div>
  <div class="footer-text">
   <%= t('evaluated_by_html')%>
  </div>
</div>
<!-- Footer End -->

<!-- Login modals -->
<%= render 'layouts/sign_in_modal' %>
<%= render 'layouts/sign_up_modal' %>
<%= render 'layouts/forgotten_pass_modal' %>
<%= render 'layouts/resend_confirmation_modal' %>
<!-- Login modals End-->

</body>
</html>
