<!DOCTYPE html>
<html>
<head>
  <title>HealthPriority</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Top bar -->
<div class="top-bar-wrapper">
  <div class="container">
    <div class="top-bar-container left">
      <div class="top-bar-text phone">
        For more information 0883 412 071
      </div>
    </div>
    <div class="top-bar-container right">
      <div class="top-bar-tab first-tab top-bar-text">
        <%= link_to 'FAQ', faq_index_path, :class => 'navbar-link' %>
      </div>
      <div class="top-bar-tab top-bar-text">
        <%= link_to 'DELIVERY', delivery_index_path, :class => 'navbar-link' %>
      </div>
      <% if user_signed_in? -%>
          <div class="top-bar-tab top-bar-text">
            <%= link_to "User profile", :class => 'navbar-link' %>
          </div>
          <div class="top-bar-tab top-bar-text">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
          </div>
      <% else %>
          <div class="top-bar-tab top-bar-text">
            <%= link_to "Sign In", new_user_session_path, remote: true, :"data-toggle" => 'modal', :"data-target" => '#signInModal' %>
          </div>
      <% end %>
      <div class="top-bar-tab top-bar-text">
        <div class="fb_top"></div>
        Connect
      </div>
    </div>
  </div>
</div>
<!-- Top bar end -->

<!-- Search Section -->
<div class="search-section-container">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-2 col-xs-1 nomargin nopadding">
        <%= link_to '', root_path, :class => 'logo', :data => {:no_turbolink => true} %>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-9">
        <div class="search-section">

          <div class="search-container">
            <div class="search-dropdown-container left">
              <div class="dropdown-toggle" id="search_category" data-toggle="dropdown">
                <span id="chosen_category">All Categories</span>
                <b class="caret"></b>
              </div>
              <ul aria-labelledby="search_category" role="menu" class="dropdown-menu ">
                <li>
                  All Categories
                </li>
                <% $root_categories.each do |category| %>
                    <li><%= category.name %></li>
                <% end %>
              </ul>
            </div>
            <div class="search-input-container left">
              <input type="text" id="search_input" class="search-input" placeholder="Search..."/>
            </div>
            <div class="right search-image-div"><%= link_to '', '', :class => 'search-image', remote: true, :id => "search_link" %></div>
          </div>
          <div>
            <div class="notice"><%= notice %></div>
            <div class="alert"><%= alert %></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2 nopadding nomargin">
        <div class="cart-info-section">
          <div class="cart-amount">3</div>
          <%= link_to '', shopping_cards_path, :class => 'cart' %>
          <div class="total-price">
            <div class="total">total:</div>
            <div class="price">$112</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Search Section End -->

<!-- Main Navigation -->
<nav class="main-nav-wrapper">
  <!-- Nav bar for phones -->
  <div class="navbar navbar-default visible-xs phone-nav">
    <div class="navbar-header" data-toggle="collapse" data-target=".phone-main-nav">
      <div class="phone-nav-title">MENU</div>
      <button data-target=".phone-main-nav" class="navbar-toggle">
        <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse nopadding phone-main-nav">
      <ul class="nav navbar navbar-left nomargin">
        <li class="nav-item-phone text-center"><%= link_to 'HOME', root_path, :data => {:no_turbolink => true}, :class => 'top-bar-text' %></li>
        <li class="nav-item-phone text-center"><%= link_to 'ABOUT US', about_us_path, :class => 'top-bar-text' %></li>
        <li class="nav-item-phone text-center"><%= link_to 'PRODUCTS', products_path, :class => 'top-bar-text' %></li>
        <li class="nav-item-phone text-center"><%= link_to 'SPECIAL OFFERS', special_offers_path, :class => 'top-bar-text' %></li>
        <li class="nav-item-phone text-center"><%= link_to 'ONLY ORGANIC', only_organics_path, :class => 'top-bar-text' %></li>
        <li class="nav-item-phone text-center"><%= link_to 'CONTACTS', contacts_path, :class => 'top-bar-text' %></li>
      </ul>
    </div>
  </div>
  <!-- Nav bar for phones end -->
  <!-- nav bar large displays -->
  <div class="container text-center hidden-xs">
    <div class="main-nav-tab">
      <%= link_to 'HOME', root_path, :data => {:no_turbolink => true}, :class => 'top-bar-text' %>
    </div>
    <div class="main-nav-tab">
      <%= link_to 'ABOUT US', about_us_path, :class => 'top-bar-text' %>
    </div>
    <div class="main-nav-tab">
      <%= link_to 'PRODUCTS', products_path, :class => 'top-bar-text' %>
    </div>
    <div class="main-nav-tab">
      <%= link_to 'SPECIAL OFFERS', special_offers_path, :class => 'top-bar-text' %>
    </div>
    <div class="main-nav-tab">
      <%= link_to 'ONLY ORGANIC', only_organics_path, :class => 'top-bar-text' %>
    </div>
    <div class="main-nav-tab">
      <%= link_to 'CONTACTS', contacts_path, :class => 'top-bar-text' %>
    </div>
  </div>
  <!-- nav bar large displays end -->
</nav>
<!-- Main Navigation End -->


<%= yield %>


<!-- Footer navigation -->
<div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-3 col-xs-6">
      <div class="category-name">
        First Category
      </div>
      <a href="#" class="category-item">Category name </a>
      <a href="#" class="category-item">Category name </a>
      <a href="#" class="category-item">Category name </a>
      <a href="#" class="category-item">Category name </a>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6">
      <div class="category-name">
        First Category
      </div>
      <a href="#" class="category-item">Category name </a>
      <a href="#" class="category-item">Category name </a>
      <a href="#" class="category-item">Category name </a>
      <a href="#" class="category-item">Category name </a>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="category-name">
        First Category
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <a href="#" class="category-item">Category name </a>
          <a href="#" class="category-item">Category name </a>
          <a href="#" class="category-item">Category name </a>
          <a href="#" class="category-item">Category name </a>
        </div>
        <div class="col-md-6 col-xs-6">
          <a href="#" class="category-item">Category name </a>
          <a href="#" class="category-item">Category name </a>
          <a href="#" class="category-item">Category name </a>
          <a href="#" class="category-item">Category name </a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="category-name">
        e-mail newsletter
      </div>
      <div class="category-text">
        All products on the website would be
        featured under categories lists.
      </div>
      <div class="email-container">
        <input type="text" class="email-input" placeholder=" Enter Your Email Address"/>

        <div class="send-email-button right"></div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Footer navigation End -->

<!-- Footer -->
<div class="footer text-center">
  <div class="sponsors-footer"></div>
  <div class="footer-main-text">
    Health Priority © Copyright 2014 All rights reserved.
  </div>
  <div class="footer-main-text">
    Developed and designed by <a href="http://www.empters.com">Empters Ltd.</a>
  </div>
  <br/>

  <div class="footer-main-text">
    “Brand Name” is a registered trademark of this that and lorem ipsum dolor sit amet. Aber conques sed to do.
  </div>
  <div class="footer-text-title">Tuesday, Sep 09, 2014, 8:51 PST</div>
  <div class="footer-text">
    Disclaimer: Statements made, or products sold through this website, have not been evaluated by the English Food and
    Drug Administration.
    They are not intended to diagnose, treat, cure or prevent any disease. Read more »
  </div>
</div>
<!-- Footer End -->

<!-- Login modals -->
<%= render 'layouts/sign_in_modal' %>
<%= render 'layouts/sign_up_modal' %>
<%= render 'layouts/forgotten_pass_modal' %>
<%= render 'layouts/resend_confirmation_modal' %>
<!-- Login modals End-->

</body>
</html>
