<div class="container-background">
  <div class="container main-content">

    <div class="path">
      <%= render_breadcrumbs :separator => ' / ' %>
    </div>

    <div class="page-title">
      <%= t('sign_up') %>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <%= f.error_messages %>

        <div class="cart-title">
          Profile data
        </div>

        <div class="row">

          <div class="col-md-4 col-xs-12">
            <%= f.email_field :email, class: 'checkout-input', autofocus: true, placeholder: "* #{t('email')}" %>
          </div>
          <div class="col-md-4 col-xs-12">
            <%= f.password_field :password, class: 'checkout-input', autocomplete: 'off', placeholder: "* #{t('password')}" %>
          </div>
          <div class="col-md-4 col-xs-12">
            <%= f.password_field :password_confirmation, class: 'checkout-input', autocomplete: 'off', placeholder: "* #{t('password_confirmation')}" %>
          </div>

        </div>

        <div class="row">
          <div class="col-md-6 col-xs-12">

            <div class="cart-title">
              Person details
            </div>

            <%= f.select :gender_id, Gender.all.collect { |p| [p.name, p.id] }, {:prompt => '* Gender'}, {class: 'checkout-input'} %>
            <%= f.text_field :first_name, class: 'checkout-input', placeholder: '* First Name' %>
            <%= f.text_field :last_name, class: 'checkout-input', placeholder: '* Last Name' %>
            <%= f.phone_field :phone, class: 'checkout-input', placeholder: "* #{t('phone')}" %>
            <%= f.phone_field :fax, class: 'checkout-input', placeholder: 'Fax' %>

          </div>

          <div class="col-md-6 col-xs-12">

            <div class="cart-title">
              Address
            </div>

            <%= f.select :country_id, Country.all.collect { |p| [p.name, p.id] }, {:prompt => "* #{t('country')}"}, {id: 'countries_select', class: 'checkout-input'} %>
            <%= f.select :state_id, State.where(country_id: resource.country_id).collect { |p| [p.name, p.id] }, {:prompt => "* #{t('state')}"}, {id: 'states_select', class: 'checkout-input'} %>
            <%= f.text_field :city, class: 'checkout-input', placeholder: "* #{t('city')}" %>
            <%= f.text_field :postal_code, class: 'checkout-input', placeholder: "* #{t('postal_code')}" %>
            <%= f.text_field :address, class: 'checkout-input', placeholder: '* Address 1' %>
            <%= f.text_field :second_address, class: 'checkout-input', placeholder: 'Address 2' %>

          </div>
        </div>

        <%= render 'users/shared/links' %>

        <div class="row">
          <div class="col-md-12 buttons-container">
            <%= f.submit t('sign_up'), :class => 'button green right submit-button' %>
          </div>
        </div>

    <% end %>

  </div>
</div>